*{
    margin: 0;
}

body{
    font-family: sans-serif;
}

.top-container{
    background-image: url("https://images.unsplash.com/photo-1667163589961-5d1f2a74b410?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.text{
    margin: 50px 5%;
    text-align: center;
}

ul{
    display: flex;   
    list-style-type: none;
    align-items: center;
}

header{
    display: flex;
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 8px black;
    
}
.navbar{
    transition: background-color 0.6s;
}

header ul li a {
    text-decoration: none;
    margin:  0 10px;
    color: black;
    font-family: cursive;

}

.navbar.active{
    background-color: black;
}

.navbar.active ul li a{
    color: white;
}